.profile__title{
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 7px; /*14 px*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 190px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 450px){
  .profile__title{
    text-align: start;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px){
  .profile__title{
    font-size: 42px;
    line-height: 48px;
    margin-bottom: 8px;
    max-width: 300px;

  }
}
