@import url(../src/vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);

@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__item/cards__item.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__title/cards__title.css);
@import url(./blocks/cards/__like/cards__like.css);
@import url(./blocks/cards/__like/_active/cards__like_active.css);
@import url(./blocks/cards/__trash/cards__trash.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_picture/popup_picture.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_full-screen/popup__countainer_full-screen.css);
@import url(./blocks/popup/__container/_trash/popup__container_trash.css);
@import url(./blocks/popup/__fieldset/popup__fieldset.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_trash/popup__title_trash.css);
@import url(./blocks/popup/__item/popup__item.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__exit-button/popup__exit-button.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__save-button/_invalid/popup__save-button_invalid.css);
@import url(./blocks/popup/__item-error/popup__item-error.css);
@import url(./blocks/popup/__field/popop__field.css);
@import url(./blocks/popup/__item/_type_error/popup__item_type_error.css);
@import url(./blocks/popup/__item-error/popup__item-error_active.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

