.popup{
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease-out, visibility 0.8s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.popup:hover{
  cursor: pointer;
}
